castor-agent/workspaces/Castor-Chat-GET-History.json
{
  "name": "Castor-Chat-GET-History",
  "nodes": [
    {
      "parameters": { "path": "castor-history", "responseMode": "responseNode", "options": {} },
      "id": "c01a0002-0000-0000-0000-000000000001",
      "name": "When called - GET history",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "castor-history"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, session_id, message, created_at FROM castor_chat_message\nWHERE session_id = '{{ $json.query.sessionId }}'\n  AND user_id = '{{ $json.query.userId }}'::uuid\nORDER BY id ASC;",
        "options": {}
      },
      "id": "c01a0002-0000-0000-0000-000000000002",
      "name": "List History from DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [224, 0],
      "credentials": { "postgres": { "id": "__FILL_ME__POSTGRES_CRED_ID__", "name": "Postgres Castor" } }
    },
    {
      "parameters": { "respondWith": "allIncomingItems", "options": {} },
      "id": "c01a0002-0000-0000-0000-000000000003",
      "name": "Return History",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [448, 0]
    }
  ],
  "pinData": {},
  "connections": {
    "When called - GET history": { "main": [[{ "node": "List History from DB", "type": "main", "index": 0 }]] },
    "List History from DB": { "main": [[{ "node": "Return History", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "Castor" }]
}
