castor-agent/workspaces/Castor-RAG.json
{
  "nodes": [
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data || $json.text || $json.concatenated_data || $json.text_for_rag }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=file_id",
                "value": "={{ $('Set File ID - to Context').first().json.file_id }}"
              },
              {
                "name": "file_title",
                "value": "={{ $('Set File ID - to Context').first().json.file_title }}"
              },
              {
                "name": "session_id",
                "value": "={{ $('Set File ID - to Context').first().json.session_id || '' }}"
              }
            ]
          }
        }
      },
      "id": "d6cc2190-a44b-4952-aa84-61652b2d5ad8",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [52720, 25840]
    },
    {
      "parameters": {
        "content": "## Tool to Add a Google Drive File to Vector DB",
        "height": 947,
        "width": 3985,
        "color": 5
      },
      "id": "ae5d9830-bf68-4d0f-95d0-aedf13db06d7",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [49376, 25216]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Set File ID - to Context').item.json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "id": "ce6b9118-de44-4542-9f4b-9ce959f85041",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [51312, 25568],
      "executeOnce": true,
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1yxLK6IGIPQiU21B",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "8cc3d3a2-9c80-4a0a-9f39-e2f1207298c5",
      "name": "Extract Document Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [51984, 25872],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "eb337050-5ef5-4d8d-a806-5baf5d79e311",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [51984, 25312]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "cbddd4a4-f721-41e6-bb3b-b8ba4c8fae20",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [52016, 25488]
    },
    {
      "parameters": {},
      "id": "ba7029d6-4010-4759-8ff6-f94ed70e1b06",
      "name": "Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [52688, 25984]
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "cb6c3cc0-0f2c-4e19-8886-f421e7c277dc",
      "name": "Summarize",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [52224, 25568]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Set File ID - to Context').item.json.file_type }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "2ae7faa7-a936-4621-a680-60c512163034",
                    "leftValue": "={{ $('Set File ID - to Context').item.json.file_type }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "fc193b06-363b-4699-a97d-e5a850138b0e",
                    "leftValue": "={{ $('Set File ID - to Context').item.json.file_type }}",
                    "rightValue": "=application/vnd.google-apps.spreadsheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "b69f5605-0179-4b02-9a32-e34bb085f82d",
                    "leftValue": "={{ $('Set File ID - to Context').item.json.file_type }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": 3
        }
      },
      "id": "53cd9644-3aa1-454a-a8e9-d9bc48f010fe",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [51488, 25536]
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "castor_documents",
          "mode": "list",
          "cachedResultName": "castor_documents"
        },
        "options": {
          "queryName": "castor_match_documents"
        }
      },
      "id": "f1c50fa7-9e39-4b7b-8d16-92a8c7694a2e",
      "name": "Insert into Supabase Vectorstore",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [52704, 25632],
      "credentials": {
        "supabaseApi": {
          "id": "i5Q8tj8Pyc9XjSGd",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "id": "54ca91b0-eb2a-4607-8263-4a6bc2d70fc8",
      "name": "Extract from Excel",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [51808, 25488]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f422e2e0-381c-46ea-8f38-3f58c501d8b9",
              "name": "schema",
              "value": "={{ $('Extract from Excel').isExecuted ? $('Extract from Excel').first().json.keys().toJsonString() : $('Extract from CSV').first().json.keys().toJsonString() }}",
              "type": "string"
            },
            {
              "id": "bb07c71e-5b60-4795-864c-cc3845b6bc46",
              "name": "data",
              "value": "={{ $json.concatenated_data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [52464, 25360],
      "id": "b71c148c-163d-40a7-aa0c-f90e29673179",
      "name": "Set Schema"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [51808, 25664],
      "id": "b2d17e6d-7dc8-476d-8257-878d3ee3be7a",
      "name": "Extract from CSV"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [49824, 25536],
      "id": "adedfa4e-7f23-493a-8e93-813bab5e1004",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "castor_document_rows",
        "filters": {
          "conditions": [
            {
              "keyName": "dataset_id",
              "condition": "eq",
              "keyValue": "={{ $('Set File ID - to Context').item.json.file_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [50944, 25664],
      "id": "ebc1541b-453a-4a3f-829c-9633c8801fd0",
      "name": "Delete Old Data Rows",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "i5Q8tj8Pyc9XjSGd",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "castor_document_rows",
          "mode": "list",
          "cachedResultName": "castor_document_rows"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "dataset_id": "={{ $('Set File ID - to Context').item.json.file_id }}",
            "row_data": "={{ $json.toJsonString().replaceAll(/'/g, \"''\") }}"
          },
          "matchingColumns": ["id"],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "dataset_id",
              "displayName": "dataset_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_data",
              "displayName": "row_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [52016, 25664],
      "id": "737a91c7-07a5-4b5c-9eed-589bb50fa436",
      "name": "Insert Table Rows",
      "credentials": {
        "postgres": {
          "id": "jFjeYH6Nt3aRNkoM",
          "name": "Supabase_database"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "castor_document_metadata",
          "mode": "list",
          "cachedResultName": "castor_document_metadata"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Set File ID - to Context').item.json.file_id }}",
            "schema": "={{ $json.schema }}"
          },
          "matchingColumns": ["id"],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "schema",
              "displayName": "schema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [52688, 25360],
      "id": "1fa31531-49a6-4a11-ba60-1c7e3356836d",
      "name": "Update Schema for Document Metadata",
      "credentials": {
        "postgres": {
          "id": "jFjeYH6Nt3aRNkoM",
          "name": "Supabase_database"
        }
      }
    },
    {
      "parameters": {
        "content": "## 🚀 Ultimate n8n Agentic RAG Template\n\n**Author:** [Cole Medin](https://www.youtube.com/@ColeMedin)\n\n## What is this?\nThis template provides a complete implementation of an **Agentic RAG (Retrieval Augmented Generation)** system in n8n that can be extended easily for your specific use case and knowledge base. Unlike standard RAG which only performs simple lookups, this agent can reason about your knowledge base, self-improve retrieval, and dynamically switch between different tools based on the specific question.\n\n## Why Agentic RAG?\nStandard RAG has significant limitations:\n- Poor analysis of numerical/tabular data\n- Missing context due to document chunking\n- Inability to connect information across documents\n- No dynamic tool selection based on question type\n\n## What makes this template powerful:\n- **Intelligent tool selection**: Switches between RAG lookups, SQL queries, or full document retrieval based on the question\n- **Complete document context**: Accesses entire documents when needed instead of just chunks\n- **Accurate numerical analysis**: Uses SQL for precise calculations on spreadsheet/tabular data\n- **Cross-document insights**: Connects information across your entire knowledge base\n- **Multi-file processing**: Handles multiple documents in a single workflow loop\n- **Efficient storage**: Uses JSONB in Supabase to store tabular data without creating new tables for each CSV\n\n## Getting Started\n1. Run the table creation nodes first to set up your database tables in Supabase\n2. Upload your documents through Google Drive (or swap out for a different file storage solution)\n3. The agent will process them automatically (chunking text, storing tabular data in Supabase)\n4. Start asking questions that leverage the agent's multiple reasoning approaches\n\n## Customization\nThis template provides a solid foundation that you can extend by:\n- Tuning the system prompt for your specific use case\n- Adding document metadata like summaries\n- Implementing more advanced RAG techniques\n- Optimizing for larger knowledge bases\n\n---\n\nI do intend on making a local version of this agent very soon!",
        "height": 1400,
        "width": 540,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [46640, 25216],
      "typeVersion": 1,
      "id": "f7ac560a-b535-4f69-8cf7-b9b80bde1f74",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "limit": 20,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1Azpe9hHXObz93rio04AVWuUxGOlUlbjj",
            "mode": "id"
          }
        },
        "options": {
          "fields": ["*"]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [49616, 25456],
      "id": "b7f24eeb-b77e-4420-8dd2-6a5bac30871f",
      "name": "Search files and folders",
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1yxLK6IGIPQiU21B",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM castor_documents \nWHERE metadata->>'file_id' = '{{ $json.file_id }}'\nAND (metadata->>'session_id' IS NULL OR metadata->>'session_id' = '');",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [50768, 25408],
      "id": "de84d5d1-432b-4794-8eeb-382b55dc20da",
      "name": "Delete Old Doc Rows1",
      "credentials": {
        "postgres": {
          "id": "jFjeYH6Nt3aRNkoM",
          "name": "Supabase_database"
        }
      }
    },
    {
      "parameters": {
        "inputDataFieldName": "data0",
        "name": "={{ $now.format('dd-LL-yyyy') }}_{{ $binary.data0.fileName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1Azpe9hHXObz93rio04AVWuUxGOlUlbjj",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [49600, 25712],
      "id": "ada7ca97-f7b9-49b9-a1fc-4d916a818ef0",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1yxLK6IGIPQiU21B",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "castor-rag-drive-replace",
        "responseMode": "responseNode",
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [49424, 25712],
      "id": "f2626b2f-be1f-4657-9a0e-cb111ba25918",
      "name": "InsertFile-drive",
      "webhookId": "f9870744-c0e5-422a-9346-036341f2765a"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "castor-rag-reindex-drive",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [49424, 25936],
      "id": "3f513bd8-1948-4662-8934-dfdeca93a4be",
      "name": "Webhook Reindex Drive",
      "webhookId": "c7000000-0000-0000-0000-000000000001"
    },
    {
      "parameters": {
        "content": "## 1. Setup Inicial (Execute 1x via Webhook)\nCria TODAS as tabelas:\n- document_metadata (Arquivos)\n- document_rows (Linhas Excel/CSV)\n- chat_message (Histórico de Chat)\n- documents (Vetores RAG)",
        "height": 653,
        "width": 863,
        "color": 3
      },
      "id": "4fefad02-9d9c-4b80-aefe-1b0007eeae92",
      "name": "Sticky Note Setup",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [48496, 25232]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- ✅ SETUP IDEMPOTENTE — Não destrói dados.\n-- Tabelas de USUÁRIOS / CHAT / SESSIONS NÃO ficam mais aqui.\n-- Elas vivem no workflow \"Castor-DB-Schema-Setup\" e nas migrations (001-007).\n\n-- 1. Tabela de Arquivos (Drive metadata)\nCREATE TABLE IF NOT EXISTS castor_document_metadata (\n    id TEXT PRIMARY KEY,\n    title TEXT,\n    url TEXT,\n    created_at TIMESTAMP DEFAULT NOW(),\n    schema TEXT,\n    session_id TEXT,\n    modified_time TEXT,\n    content_hash TEXT,\n    last_indexed_at TIMESTAMP\n);\n\n-- Garante colunas novas em bases pré-existentes (sem perder dados)\nALTER TABLE castor_document_metadata ADD COLUMN IF NOT EXISTS modified_time TEXT;\nALTER TABLE castor_document_metadata ADD COLUMN IF NOT EXISTS content_hash TEXT;\nALTER TABLE castor_document_metadata ADD COLUMN IF NOT EXISTS last_indexed_at TIMESTAMP;\n\n-- 2. Tabela de Linhas (Excel/CSV)\nCREATE TABLE IF NOT EXISTS castor_document_rows (\n    id SERIAL PRIMARY KEY,\n    dataset_id TEXT REFERENCES castor_document_metadata(id) ON DELETE CASCADE,\n    row_data JSONB\n);",
        "options": {}
      },
      "id": "00c8ee2d-e054-46ce-8bdd-82e653f83dbb",
      "name": "Create Standard Tables",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [48896, 25456],
      "credentials": {
        "postgres": {
          "id": "jFjeYH6Nt3aRNkoM",
          "name": "Supabase_database"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- ✅ Idempotente. Alinha a coluna embedding com o modelo Azure text-embedding-3-small (1536 dims).\n-- Se a coluna existir com outra dimensão (ex.: 3072), recria APENAS a coluna embedding.\n-- Dados de vetores antigos serão perdidos (precisam ser reindexados — metadados/rows são preservados).\nCREATE EXTENSION IF NOT EXISTS vector;\n\n-- Tabela de Vetores (RAG)\nCREATE TABLE IF NOT EXISTS castor_documents (\n  id bigserial PRIMARY KEY,\n  content text,\n  metadata jsonb,\n  embedding vector(1536)\n);\n\n-- Self-heal: se a coluna existe com dimensão diferente, recria como 1536\nDO $$\nDECLARE\n  current_dim int;\nBEGIN\n  SELECT a.atttypmod\n    INTO current_dim\n  FROM pg_attribute a\n  JOIN pg_class c ON c.oid = a.attrelid\n  WHERE c.relname = 'castor_documents'\n    AND a.attname = 'embedding'\n    AND a.attnum > 0\n    AND NOT a.attisdropped;\n\n  IF current_dim IS NOT NULL AND current_dim <> 1536 THEN\n    RAISE NOTICE 'Recreating castor_documents.embedding: % -> 1536', current_dim;\n    EXECUTE 'ALTER TABLE castor_documents DROP COLUMN embedding';\n    EXECUTE 'ALTER TABLE castor_documents ADD COLUMN embedding vector(1536)';\n  END IF;\nEND $$;\n\n-- Função de busca (Match) — stateless, pode dropar e recriar\nDROP FUNCTION IF EXISTS castor_match_documents;\nCREATE FUNCTION castor_match_documents (\n  query_embedding vector(1536),\n  match_count int DEFAULT NULL,\n  filter jsonb DEFAULT '{}'\n) RETURNS TABLE (\n  id bigint,\n  content text,\n  metadata jsonb,\n  similarity float\n)\nLANGUAGE plpgsql\nAS $$\n#variable_conflict use_column\nBEGIN\n  RETURN QUERY\n  SELECT\n    id,\n    content,\n    metadata,\n    1 - (castor_documents.embedding <=> query_embedding) AS similarity\n  FROM castor_documents\n  WHERE metadata @> filter\n  ORDER BY castor_documents.embedding <=> query_embedding\n  LIMIT match_count;\nEND;\n$$;",
        "options": {}
      },
      "id": "64457161-ea2d-4ba1-8d25-38c244048fd3",
      "name": "Create Vector Table & Functions1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [49088, 25456],
      "credentials": {
        "postgres": {
          "id": "jFjeYH6Nt3aRNkoM",
          "name": "Supabase_database"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- ✅ Apenas garante índices. NÃO apaga dados.\n-- A limpeza por-arquivo acontece em \"Delete Old Doc Rows1\" SOMENTE quando o arquivo mudou.\nCREATE INDEX IF NOT EXISTS castor_idx_doc_metadata_session\nON castor_document_metadata(session_id);\n\nCREATE INDEX IF NOT EXISTS castor_idx_doc_metadata_modified\nON castor_document_metadata(modified_time);\n\nCREATE INDEX IF NOT EXISTS castor_idx_documents_metadata_gin\nON castor_documents USING GIN (metadata);\n\n-- Índice para acelerar lookups por file_id no JSON metadata\nCREATE INDEX IF NOT EXISTS castor_idx_documents_file_id\nON castor_documents ((metadata->>'file_id'));",
        "options": {}
      },
      "id": "73302e47-5a1a-46ad-8dca-e5c24cafbcfd",
      "name": "Ensure RAG Indexes",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [49424, 25456],
      "credentials": {
        "postgres": {
          "id": "jFjeYH6Nt3aRNkoM",
          "name": "Supabase_database"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [48544, 25616],
      "id": "b2cbbb60-d413-4c7a-8449-46a7c7918893",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "value": "={{ $input.item.json.id }}",
              "type": "string"
            },
            {
              "id": "f4536df5-d0b1-4392-bf17-b8137fb31a44",
              "name": "file_type",
              "value": "={{ $input.item.json.mimeType }}",
              "type": "string"
            },
            {
              "id": "77d782de-169d-4a46-8a8e-a3831c04d90f",
              "name": "file_title",
              "value": "={{ $input.item.json.name }}",
              "type": "string"
            },
            {
              "id": "9bde4d7f-e4f3-4ebd-9338-dce1350f9eab",
              "name": "file_url",
              "value": "={{ $input.item.json.webViewLink }}",
              "type": "string"
            },
            {
              "id": "d79e06cc-823f-47e6-bfa6-dd2f0cb4264d",
              "name": "session_id",
              "value": "={{ ($(\"InsertFile-drive\").isExecuted && ($(\"InsertFile-drive\").first().json.body?.sessionId || $(\"InsertFile-drive\").first().json.query?.sessionId)) || null }}",
              "type": "string"
            },
            {
              "id": "a1b2c3d4-e5f6-4a5b-8c9d-0e1f2a3b4c5d",
              "name": "modified_time",
              "value": "={{ $input.item.json.modifiedTime || '' }}",
              "type": "string"
            },
            {
              "id": "b2c3d4e5-f6a7-4b6c-9d0e-1f2a3b4c5d6e",
              "name": "md5_checksum",
              "value": "={{ $input.item.json.md5Checksum || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ea5ace5b-c36e-49d3-8a7f-182e51cceb80",
      "name": "Set File ID - to Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [50080, 25552]
    },
    {
      "parameters": {
        "content": "## 3. Limpeza Lenta (Conversas)\nRoda a cada 24h.\nApaga TUDO de sessões antigas (Chat + Docs + Vetores).",
        "height": 820,
        "width": 1276,
        "color": 2
      },
      "id": "5d72d8b4-058d-4250-999e-89068a33334c",
      "name": "Sticky Note Session",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [47200, 25232]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 10
            }
          ]
        }
      },
      "id": "20dc2e20-29c5-464f-8432-e49804d1a3c3",
      "name": "24h Trigger (Session)1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [47264, 25744]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id \nFROM castor_document_metadata \nWHERE session_id IS NOT NULL ",
        "options": {}
      },
      "id": "9547723e-e0b6-4a3e-83a7-1d5903fb0476",
      "name": "Get Expired File IDs1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [47536, 25616],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "jFjeYH6Nt3aRNkoM",
          "name": "Supabase_database"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f80fcdf0-42a2-4ae1-ac23-674517a6fc2d",
      "name": "Loop Expired Files1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [47952, 25632]
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "ae807e27-07c7-4d9f-82d6-0f836f09c7e2",
      "name": "Delete from Google Drive1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [48240, 25744],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1yxLK6IGIPQiU21B",
          "name": "Google Drive account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- ✅ Limpeza segura de DADOS DE SESSÃO (não toca em docs globais nem migrations).\n-- Envolvido em DO/EXCEPTION para nunca quebrar o workflow se uma tabela legada não existir.\nDO $$\nBEGIN\n  -- 1. Remove chat APENAS de sessões cujos docs já expiraram (não apaga histórico ativo)\n  BEGIN\n    DELETE FROM castor_chat_message\n    WHERE session_id IN (\n      SELECT session_id FROM castor_document_metadata WHERE session_id IS NOT NULL\n    );\n  EXCEPTION WHEN undefined_table THEN\n    RAISE NOTICE 'castor_chat_message ausente — pulando';\n  END;\n\n  -- 2. Remove vetores de sessão\n  BEGIN\n    DELETE FROM castor_documents\n    WHERE metadata->>'session_id' IS NOT NULL\n      AND metadata->>'session_id' <> '';\n  EXCEPTION WHEN undefined_table THEN\n    RAISE NOTICE 'castor_documents ausente — pulando';\n  END;\n\n  -- 3. Remove metadados/linhas de sessão (rows caem via CASCADE)\n  BEGIN\n    DELETE FROM castor_document_metadata\n    WHERE session_id IS NOT NULL;\n  EXCEPTION WHEN undefined_table THEN\n    RAISE NOTICE 'castor_document_metadata ausente — pulando';\n  END;\nEND $$;",
        "options": {}
      },
      "id": "4d1e3a78-3e2e-47fd-b110-c4332f7d8524",
      "name": "Clean Database Records1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [48240, 25536],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "jFjeYH6Nt3aRNkoM",
          "name": "Supabase_database"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "castor-DatabaseSetup",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "34389ddd-249b-44bd-bd33-fce93bf2cc19",
      "name": "Webhook Setup",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [47264, 25472],
      "webhookId": "1c70aff4-7d8b-4d00-abd9-0ecda88405ee"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"success\",\n  \"message\": \"Documento processado com sucesso! Memória RAG atualizada.\"\n}",
        "options": {}
      },
      "id": "f70d8358-23c9-41a0-92ef-29065528ff80",
      "name": "Confirmar Upload",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [50160, 25296]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.all();\n\nfor (const item of data) {\n  // O comando \"Reflect\" força a deleção sem o editor reclamar de Tipos\n  Reflect.deleteProperty(item, 'binary');\n}\n\nreturn data;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [52976, 25632],
      "id": "be9ac9de-9f39-4516-bc9a-58df6abc960d",
      "name": "Limpar RAM"
    },
    {
      "parameters": {
        "content": "curl -X POST \"https://exotickoala-n8n.cloudfy.live/webhook-test/index-drive\" \\\n     -H \"Content-Type: multipart/form-data\" \\\n     -F \"data=@\\\"PROPOSTA PSI.PDF\\\"\" \\\n     -F \"tipo=proposta\"",
        "height": 224,
        "width": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [48976, 26224],
      "typeVersion": 1,
      "id": "011e0077-bedf-4fa6-9bb3-5a381094e0e7",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "curl -X POST \"https://exotickoala-n8n.cloudfy.live/webhook-test/index-drive\" -F \"data=@\\\"C:\\Users\\admin\\Downloads\\PROPOSTA PSI.PDF\\\"\" -F \"sessionId=sessao-do-giovani-123\" -F \"tipo=proposta\"",
        "height": 208,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [49312, 26240],
      "typeVersion": 1,
      "id": "be4023c3-b254-4b53-86f6-9bd18b64c51a",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c3d4e5f6-a7b8-4c7d-9e0f-1a2b3c4d5e6f",
              "leftValue": "={{ $json.modified_time || '' }}",
              "rightValue": "={{ $('Set File ID - to Context').item.json.modified_time || '' }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "d4e5f6a7-b8c9-4d8e-9f0a-1b2c3d4e5f6a",
              "leftValue": "={{ $json.modified_time || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [50400, 25552],
      "id": "3987cdb7-9693-4702-88cd-fb20c92ed01e",
      "name": "Skip If Unchanged"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bd3e7b3c-f167-4b8c-91c5-e599af4bbd84",
              "leftValue": "={{ $json.session_id }}",
              "rightValue": "null",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [50576, 25664],
      "id": "9e518e4d-9d56-4322-9408-e0186f9ef9cf",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT session_id, modified_time, content_hash FROM castor_document_metadata WHERE id = '{{ $('Set File ID - to Context').item.json.file_id }}'",
        "options": {}
      },
      "id": "b9f90e33-f7b6-4f54-a6e5-f27f8be94b63",
      "name": "Check Session Integrity",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [50240, 25552],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "jFjeYH6Nt3aRNkoM",
          "name": "Supabase_database"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Acessa os dados de entrada\nconst firstItem = (typeof items !== 'undefined' && items.length > 0) ? items[0] : $input.first();\n\n// 2. Extrai e faz o PARSE do texto JSON\nlet inputData = [];\n\nif (firstItem.json.concatenated_data) {\n    try {\n        // Transformamos o texto \"[{...}]\" em um Array real via JSON.parse\n        inputData = JSON.parse(firstItem.json.concatenated_data);\n    } catch (e) {\n        // Se falhar o parse, tenta usar o json direto caso já seja objeto\n        inputData = firstItem.json.data || [];\n    }\n} else if (Array.isArray(firstItem.json)) {\n    inputData = firstItem.json;\n} else if (firstItem.json.data) {\n    inputData = firstItem.json.data;\n}\n\n// Se o inputData não for uma lista (array), forçamos ser uma lista vazia para não quebrar o loop\nif (!Array.isArray(inputData)) {\n    inputData = []; \n}\n\n// --- INÍCIO DO PROCESSAMENTO ---\n\nconst cleanData = [];\n\nfor (const row of inputData) {\n  // Garante que row é um objeto válido\n  if (typeof row !== 'object' || row === null) continue;\n\n  const cleanItem = {};\n  let textForRag = \"\"; \n\n  // Como os dados já têm as chaves corretas (ex: \"Empresa\", \"CNPJ\"), \n  // iteramos direto sobre elas\n  for (const key in row) {\n    const value = row[key];\n\n    // Verifica se o valor não é nulo, indefinido ou vazio\n    if (value !== undefined && value !== null && value !== '') {\n      cleanItem[key] = value;\n      // Monta o texto para o RAG dinamicamente\n      textForRag += `${key}: ${value}. `;\n    }\n  }\n\n  // Se o objeto não estiver vazio, adiciona a propriedade de texto e insere no array final\n  if (Object.keys(cleanItem).length > 0) {\n    cleanItem.text_for_rag = textForRag.trim();\n    cleanData.push({ json: cleanItem });\n  }\n}\n\nreturn cleanData;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [52448, 25568],
      "id": "b4a1748f-135d-495a-8a68-b155f12b8f73",
      "name": "Limpeza Excel"
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  if (item.json.data) {\n    // 1. Remove TUDO que não é letra, número ou pontuação básica (mata binários)\n    let cleanText = item.json.data.replace(/[^\\p{L}\\p{N}\\p{P}\\p{Z}\\n]/gu, '');\n\n    // 2. Remove o erro de Unicode incompleto \\u\n    cleanText = cleanText.replace(/\\\\u/g, '');\n\n    // 3. Limite de segurança: se o \"texto\" for maior que 50k caracteres, \n    // provavelmente é lixo binário de uma imagem que passou\n    item.json.data = cleanText.substring(0, 50000);\n  }\n}\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [52448, 25712],
      "id": "fbbec857-82ae-443a-82cc-383e65e8d6f6",
      "name": "Limpeza de Docs"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [53120, 25632],
      "id": "fe6ba54d-c334-47a0-9c1f-3ddb1438fc57",
      "name": "Wait",
      "webhookId": "79b70584-7a14-4c4d-9ce3-6ff01b47128f"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [48592, 25456],
      "id": "b34efedc-4a0e-414e-b7f0-b3fda52d8d0a",
      "name": "Wait1",
      "webhookId": "f18070ac-659f-41e0-9fac-920d996cefad"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "af3fd04e-89dd-4dd9-8726-1ace57d0f4cf",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [47728, 25456],
      "id": "581d06b3-99e4-4fb9-be13-55a89877652a",
      "name": "If1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-2-preview"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [52304, 26032],
      "id": "3378fd1c-f9cd-441b-beb2-b7c259f4f57f",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "Vx67HOLUDVbPAmHc",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [52464, 26032],
      "id": "5a3377ac-7100-4944-9327-69029de4cbe7",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "hZRBXrfocBn4jbFB",
          "name": "openrouter_cloudfy"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "castor_document_metadata",
          "mode": "list",
          "cachedResultName": "castor_document_metadata"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Set File ID - to Context').item.json.file_id }}",
            "title": "={{ $('Set File ID - to Context').item.json.file_title }}",
            "url": "={{ $('Set File ID - to Context').item.json.file_url }}",
            "session_id": "={{ $('Set File ID - to Context').item.json.session_id }}",
            "modified_time": "={{ $('Set File ID - to Context').item.json.modified_time }}",
            "content_hash": "={{ $('Set File ID - to Context').item.json.md5_checksum }}",
            "last_indexed_at": "={{ $now.toISO() }}"
          },
          "matchingColumns": ["id"],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "schema",
              "displayName": "schema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "modified_time",
              "displayName": "modified_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "content_hash",
              "displayName": "content_hash",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "last_indexed_at",
              "displayName": "last_indexed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [51120, 25424],
      "id": "5c247aac-2dca-4c33-a15c-2ec368dfd9d7",
      "name": "Insert Document Metadata1",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "jFjeYH6Nt3aRNkoM",
          "name": "Supabase_database"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsAzureOpenAi",
      "typeVersion": 1,
      "position": [52544, 25888],
      "id": "113d37bd-d6cb-4a65-9f4a-37eb6950d3ed",
      "name": "Embeddings Azure OpenAI",
      "credentials": {
        "azureOpenAiApi": {
          "id": "xby4FSbCaCnssJxl",
          "name": "Azure Open AI account 3"
        }
      }
    },
    {
      "parameters": {
        "content": "## 🗂️ Admin RAG Docs API\nEndpoints usados pelo painel \"Documentos do RAG\" no front-end:\n- GET  /castor-rag-docs        → lista docs globais (session_id IS NULL)\n- POST /castor-rag-doc-delete  → apaga 1 doc por file_id (vetores + metadata + rows via CASCADE)",
        "height": 220,
        "width": 760,
        "color": 5
      },
      "id": "e411363a-fcd2-4307-a647-32bced476d2c",
      "name": "Sticky Note RAG Admin",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [47200, 26656]
    },
    {
      "parameters": {
        "path": "castor-rag-docs",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [47264, 26864],
      "id": "4c7bb5f9-96fe-4092-b8ab-32145220b408",
      "name": "Webhook RAG Docs List",
      "webhookId": "f1a00000-0000-0000-0000-000000000002"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Self-heal: garante colunas mesmo se o setup nunca rodou\nALTER TABLE castor_document_metadata ADD COLUMN IF NOT EXISTS modified_time TEXT;\nALTER TABLE castor_document_metadata ADD COLUMN IF NOT EXISTS content_hash TEXT;\nALTER TABLE castor_document_metadata ADD COLUMN IF NOT EXISTS last_indexed_at TIMESTAMP;\n\nSELECT id, title, url, created_at, last_indexed_at, modified_time, session_id\nFROM castor_document_metadata\nWHERE session_id IS NULL OR session_id = ''\nORDER BY COALESCE(last_indexed_at, created_at) DESC NULLS LAST",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [47504, 26864],
      "id": "b0b1c6dd-3364-46f1-bd06-84c80aa32479",
      "name": "List RAG Docs",
      "credentials": {
        "postgres": {
          "id": "jFjeYH6Nt3aRNkoM",
          "name": "Supabase_database"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Agrupa todas as linhas em um array único para o webhook\nconst docs = $input.all().map(item => item.json);\nreturn [{ json: { docs } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [47744, 26864],
      "id": "0d3747c0-98fe-43b2-8237-c82820eed10e",
      "name": "Aggregate RAG Docs"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [47984, 26864],
      "id": "56ab3f4e-3001-49f1-bf59-8ede0307fb34",
      "name": "Respond RAG Docs List"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "castor-rag-doc-delete",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [47264, 27072],
      "id": "3d3eb535-7546-4822-babd-bde4f091a3a5",
      "name": "Webhook RAG Doc Delete",
      "webhookId": "f1a00000-0000-0000-0000-000000000006"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f1a00000-0000-0000-0000-00000000c001",
              "leftValue": "={{ $json.body && $json.body.file_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [47504, 27072],
      "id": "37352083-4d81-42c1-84e9-408ce8dff982",
      "name": "Has file_id?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Apaga vetores do arquivo\nDELETE FROM castor_documents\nWHERE metadata->>'file_id' = '{{ $('Webhook RAG Doc Delete').item.json.body.file_id }}';\n\n-- Apaga metadata (rows são removidas via ON DELETE CASCADE)\nDELETE FROM castor_document_metadata\nWHERE id = '{{ $('Webhook RAG Doc Delete').item.json.body.file_id }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [47952, 27008],
      "id": "c951e426-db95-469d-a123-5e5d07bb1dbe",
      "name": "Delete RAG Doc",
      "credentials": {
        "postgres": {
          "id": "jFjeYH6Nt3aRNkoM",
          "name": "Supabase_database"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"success\", \"file_id\": \"{{ $('Webhook RAG Doc Delete').item.json.body.file_id }}\" }",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [48192, 27008],
      "id": "67927b2f-939c-47ee-8fda-80956e8f6491",
      "name": "Respond RAG Doc Delete OK"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"status\": \"error\", \"message\": \"file_id is required\" }",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [47744, 27184],
      "id": "bbda8d55-b26a-47d4-a420-677fab291b40",
      "name": "Respond RAG Doc Delete Error"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "castor-rag-purge-all",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [47264, 27312],
      "id": "abca1186-4ade-45ca-81d6-1b92753c2c40",
      "name": "Webhook RAG Purge All",
      "webhookId": "f1a00000-0000-0000-0000-00000000000b"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Coleta IDs e títulos para apagar no Drive depois\nSELECT id, title FROM castor_document_metadata\nWHERE session_id IS NULL OR session_id = '';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [47504, 27312],
      "id": "f3e09b49-a008-4db1-a1ba-a4596cc6fd6d",
      "name": "Get Global Doc IDs",
      "credentials": {
        "postgres": {
          "id": "jFjeYH6Nt3aRNkoM",
          "name": "Supabase_database"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Apaga TODOS os vetores globais (sem session_id)\nDELETE FROM castor_documents\nWHERE metadata->>'session_id' IS NULL\n   OR metadata->>'session_id' = '';\n\n-- Apaga TODOS os metadados globais (rows caem via CASCADE)\nDELETE FROM castor_document_metadata\nWHERE session_id IS NULL\n   OR session_id = '';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [47744, 27312],
      "id": "b37143c3-a1ec-4142-b509-b26c49323b40",
      "name": "Purge All Global Docs",
      "credentials": {
        "postgres": {
          "id": "jFjeYH6Nt3aRNkoM",
          "name": "Supabase_database"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"success\", \"deleted_count\": {{ $('Get Global Doc IDs').all().length }} }",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [48464, 27312],
      "id": "f11f2f74-6e73-4997-a8b6-c26efa042804",
      "name": "Respond RAG Purge OK"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "castor-rag-reprocess-all",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [47264, 27520],
      "id": "5e62845b-428a-4cf3-9bbf-d1be55b3eb21",
      "name": "Webhook RAG Reprocess All",
      "webhookId": "f1a00000-0000-0000-0000-000000000011"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Self-heal: garante colunas mesmo se o setup nunca rodou\nALTER TABLE castor_document_metadata ADD COLUMN IF NOT EXISTS modified_time TEXT;\nALTER TABLE castor_document_metadata ADD COLUMN IF NOT EXISTS content_hash TEXT;\nALTER TABLE castor_document_metadata ADD COLUMN IF NOT EXISTS last_indexed_at TIMESTAMP;\n\n-- Apaga apenas os VETORES (não toca em metadados nem rows).\nDELETE FROM castor_documents\nWHERE metadata->>'session_id' IS NULL\n   OR metadata->>'session_id' = '';\n\n-- Zera o controle de modificação para forçar reindex no próximo run.\nUPDATE castor_document_metadata\nSET modified_time = NULL,\n    content_hash  = NULL,\n    last_indexed_at = NULL\nWHERE session_id IS NULL OR session_id = '';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [47504, 27520],
      "id": "3037edbe-2edd-42fa-8d5a-0f4c2790acd8",
      "name": "Reset Reprocess Markers",
      "credentials": {
        "postgres": {
          "id": "jFjeYH6Nt3aRNkoM",
          "name": "Supabase_database"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"status\": \"success\", \"message\": \"Reprocess markers reset. On the next Drive scan, all docs will be reindexed.\" }",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [47744, 27520],
      "id": "6d7faa96-46af-4828-9a27-c9a87df14ae9",
      "name": "Respond Reprocess OK"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "hBo8pU6uiM9Ldp6m",
          "mode": "list",
          "cachedResultUrl": "/workflow/hBo8pU6uiM9Ldp6m",
          "cachedResultName": "[Castor] Sub-fluxo: Drive Document Manager"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "delete",
            "file_id": "={{ $('Webhook RAG Doc Delete').item.json.body.file_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "file_id",
              "displayName": "file_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [47760, 27008],
      "id": "c097a16e-04ef-4658-8393-31494202eaca",
      "name": "Drive: Delete File (subflow)",
      "continueOnFail": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "hBo8pU6uiM9Ldp6m",
          "mode": "list",
          "cachedResultUrl": "/workflow/hBo8pU6uiM9Ldp6m",
          "cachedResultName": "[Castor] Sub-fluxo: Drive Document Manager"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "delete",
            "file_id": "={{ $('Get Global Doc IDs').item.json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "file_id",
              "displayName": "file_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [47984, 27312],
      "id": "7af4ee57-8e89-48ed-97d5-c843d845f125",
      "name": "Drive: Bulk Delete (subflow)",
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Self-heal: garante colunas mesmo se o setup nunca rodou\nALTER TABLE castor_document_metadata ADD COLUMN IF NOT EXISTS modified_time TEXT;\nALTER TABLE castor_document_metadata ADD COLUMN IF NOT EXISTS content_hash TEXT;\nALTER TABLE castor_document_metadata ADD COLUMN IF NOT EXISTS last_indexed_at TIMESTAMP;\n\n-- Apaga apenas os VETORES (não toca em metadados nem rows).\nDELETE FROM castor_documents\nWHERE metadata->>'session_id' IS NULL\n   OR metadata->>'session_id' = '';\n\n-- Zera o controle de modificação para forçar reindex no próximo run.\nUPDATE castor_document_metadata\nSET modified_time = NULL,\n    content_hash  = NULL,\n    last_indexed_at = NULL\nWHERE session_id IS NULL OR session_id = '';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [48752, 25616],
      "id": "67ea1667-e1c4-4854-9560-541fc6d2245d",
      "name": "Reset Reprocess Markers1",
      "credentials": {
        "postgres": {
          "id": "jFjeYH6Nt3aRNkoM",
          "name": "Supabase_database"
        }
      }
    }
  ],
  "connections": {
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Document Text": {
      "main": [
        [
          {
            "node": "Limpeza de Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [
          {
            "node": "Limpeza de Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Set Schema",
            "type": "main",
            "index": 0
          },
          {
            "node": "Limpeza Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from Excel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from CSV",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Document Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert into Supabase Vectorstore": {
      "main": [
        [
          {
            "node": "Limpar RAM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Excel": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert Table Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Schema": {
      "main": [
        [
          {
            "node": "Update Schema for Document Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from CSV": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert Table Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Confirmar Upload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set File ID - to Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Data Rows": {
      "main": [
        [
          {
            "node": "Insert Document Metadata1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Doc Rows1": {
      "main": [
        [
          {
            "node": "Delete Old Data Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InsertFile-drive": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Reindex Drive": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Standard Tables": {
      "main": [
        [
          {
            "node": "Create Vector Table & Functions1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Vector Table & Functions1": {
      "main": [
        [
          {
            "node": "Ensure RAG Indexes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ensure RAG Indexes": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Reset Reprocess Markers1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set File ID - to Context": {
      "main": [
        [
          {
            "node": "Check Session Integrity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "24h Trigger (Session)1": {
      "main": [
        [
          {
            "node": "Get Expired File IDs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Expired File IDs1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Expired Files1": {
      "main": [
        [
          {
            "node": "Clean Database Records1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete from Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete from Google Drive1": {
      "main": [
        [
          {
            "node": "Loop Expired Files1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Database Records1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Setup": {
      "main": [
        [
          {
            "node": "Get Expired File IDs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar RAM": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip If Unchanged": {
      "main": [
        [],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete Old Doc Rows1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Session Integrity": {
      "main": [
        [
          {
            "node": "Skip If Unchanged",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpeza Excel": {
      "main": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpeza de Docs": {
      "main": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Create Standard Tables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Loop Expired Files1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Document Metadata1": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Azure OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Webhook RAG Docs List": {
      "main": [
        [
          {
            "node": "List RAG Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List RAG Docs": {
      "main": [
        [
          {
            "node": "Aggregate RAG Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate RAG Docs": {
      "main": [
        [
          {
            "node": "Respond RAG Docs List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook RAG Doc Delete": {
      "main": [
        [
          {
            "node": "Has file_id?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has file_id?": {
      "main": [
        [
          {
            "node": "Drive: Delete File (subflow)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond RAG Doc Delete Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete RAG Doc": {
      "main": [
        [
          {
            "node": "Respond RAG Doc Delete OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook RAG Purge All": {
      "main": [
        [
          {
            "node": "Get Global Doc IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Global Doc IDs": {
      "main": [
        [
          {
            "node": "Drive: Bulk Delete (subflow)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Purge All Global Docs": {
      "main": [
        [
          {
            "node": "Respond RAG Purge OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook RAG Reprocess All": {
      "main": [
        [
          {
            "node": "Reset Reprocess Markers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reset Reprocess Markers": {
      "main": [
        [
          {
            "node": "Respond Reprocess OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drive: Delete File (subflow)": {
      "main": [
        [
          {
            "node": "Delete RAG Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drive: Bulk Delete (subflow)": {
      "main": [
        [
          {
            "node": "Purge All Global Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reset Reprocess Markers1": {
      "main": [
        [
          {
            "node": "Create Standard Tables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "03d32a206f2d8840fce482e6c587726f18775bd9177e9401c00ca76d3086ad41"
  }
}
